<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"edit-review.title" | translate}}</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary" no-border-top>
        <h1 text-center ion-text color="white">
            <div *ngIf="contract.key">{{contract.key}}</div>
            <div *ngIf="!contract.key">{{"edit-review.draft" | translate}}</div>
        </h1>
    </ion-toolbar>
</ion-header>

<ion-content class="edit-review-page">
    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.organization" | translate}}&nbsp;
                    {{contract.organization.partnerAccountKey ? "(" + contract.organization.partnerAccountKey + ")": ""}}
                    <button ion-button clear item-right icon-only
                            (click)="editSection(SECTION_HEADERS.ORGANIZATION)"
                            *ngIf="contract.isEditable">
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-item>

                <ion-list no-lines>
                    <ion-item text-wrap class="partner-contact-name">
                        {{contract.organization.name}}
                    </ion-item>
                    <ion-item *ngIf="contract.organization.phone" text-wrap>
                        <ion-icon color="primary" item-left name="call"></ion-icon>
                        <div><a href="tel:{{contract.organization.phone}}">{{contract.organization.phone}}</a></div>
                    </ion-item>
                    <ion-item *ngIf="contract.organization.fax" text-wrap>
                        <ion-label class="gama label">{{"org-info.labels.fax" | translate}}</ion-label>
                        <ion-icon item-left color="primary">
                            <i class="fa fa-fax"></i>
                        </ion-icon>

                        <div item-right>{{contract.organization.fax}}</div>
                    </ion-item>
                    <ion-item text-wrap>
                        <div class="gama label">{{"org-info.cardHeaders.physicalAddress" | translate}}</div>
                        <div>{{contract.organization.addresses.physical.street}}</div>
                        <div>{{contract.organization.addresses.physical.city}},
                            {{contract.organization.addresses.physical.stateProvinceKey}}
                            {{contract.organization.addresses.physical.postalCode}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.organization.addresses.mailing.streetAddress">
                        <div class="gama label">{{"org-info.cardHeaders.mailingAddress" | translate}}</div>
                        <div>{{contract.organization.addresses.mailing.street}}</div>
                        <div>{{contract.organization.addresses.mailing.city}},
                            {{contract.organization.addresses.mailing.stateProvinceKey}}
                            {{contract.organization.addresses.mailing.postalCode}}
                        </div>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.group" | translate}}&nbsp;
                    {{contract.group.partnerAccountKey ? "(" + contract.group.partnerAccountKey + ")": ""}}
                    <p text-capitalize
                       *ngIf="contract.group.onlineStoreId">
                        {{"edit-review.sectionHeaders.onlineStoreId" | translate}} ({{contract.group.onlineStoreId}})
                    </p>
                    <button ion-button clear item-right icon-only
                            (click)="editSection(SECTION_HEADERS.GROUP)"
                            *ngIf="contract.isEditable">
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-item>

                <ion-list no-lines>
                    <ion-item text-wrap class="partner-contact-name">
                        {{contract.group.name}}
                    </ion-item>
                    <ion-item text-wrap>
                        <div class="gama label">{{"group-info.labels.address.title" | translate}}</div>
                        <div>{{contract.group.address.street}}</div>
                        <div>{{contract.group.address.city}}, {{contract.group.address.stateProvinceKey}}
                            {{contract.group.address.postalCode}}
                        </div>
                    </ion-item>
                </ion-list>

                <ion-item text-wrap class="ion-list-icon-header">
                    {{"group-info.labels.sponsor.title" | translate}}&nbsp;
                    {{contract.group.sponsor.partnerAccountKey ? "(" + contract.group.sponsor.partnerAccountKey + ")": ""}}
                </ion-item>

                <ion-list no-lines>
                    <ion-item text-wrap>
                        <ion-icon color="primary" item-left name="person"></ion-icon>
                        <div>{{contract.group.sponsor.name}}</div>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-icon color="primary" item-left name="mail"></ion-icon>
                        <a href="mailto:{{contract.group.sponsor.emailAddress}}">{{contract.group.sponsor.emailAddress}}</a>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.group.sponsor.phoneNumbers.mobile">
                        <ion-icon color="primary" item-left name="phone-portrait"></ion-icon>
                        <div>
                            <a href="tel:{{contract.group.sponsor.phoneNumbers.mobile.number}}">{{contract.group.sponsor.phoneNumbers.mobile.number}}</a>
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.group.sponsor.phoneNumbers.work">
                        <ion-icon color="primary" item-left name="call"></ion-icon>
                        <div>
                            <a href="tel:{{contract.group.sponsor.phoneNumbers.work.number}}">{{contract.group.sponsor.phoneNumbers.work.number}}</a>
                        </div>
                        <div item-right *ngIf="contract.group.sponsor.phoneNumbers.work.extension">
                            Ext. {{contract.group.sponsor.phoneNumbers.work.extension}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.group.sponsor.phoneNumbers.home">
                        <ion-icon color="primary" item-left name="home"></ion-icon>
                        <div>
                            <a href="tel:{{contract.group.sponsor.phoneNumbers.home.number}}">{{contract.group.sponsor.phoneNumbers.home.number}}</a>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.program" | translate}}
                    <button ion-button clear item-right icon-only
                            (click)="editSection(SECTION_HEADERS.PROGRAM)"
                            *ngIf="contract.isEditable">
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-item>

                <ion-list no-lines>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.startDate" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.program.startDate | moment:'MM/DD/YYYY'}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.signDate" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.program.signDate | moment:'MM/DD/YYYY'}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.program.estimatedGroupSize > 0">
                        <ion-label class="gama label">
                            {{"program-page.labels.numberOfStudents" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.program.estimatedGroupSize}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.program.estimatedNumberOfClassrooms > 0">
                        <ion-label class="gama label">
                            {{"program-page.labels.numberOfClassrooms" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.program.estimatedNumberOfClassrooms}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.program.estimatedWholesale > 0">
                        <ion-label class="gama label">
                            {{"program-page.labels.estWholesale" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.program.estimatedWholesale | currency:'USD':'symbol-narrow':'1.0'}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.program.purchaseOrderTypeKey">
                        <ion-label class="gama label">
                            {{"program-page.labels.poType" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.program.translations.purchaseOrderTypeKey}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.program.purchaseOrderNumber">
                        <ion-label class="gama label">
                            {{"program-page.labels.poNumber" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.program.purchaseOrderNumber}}
                        </div>
                    </ion-item>
                </ion-list>

                <div *ngIf="(contract.program.isFullServiceEnabled ||
                             contract.program.isTuitionRewardsEnabled ||
                             contract.program.is59MinuteEnabled ||
                             contract.program.isPaymentAppEnabled ||
                             contract.program.isShippingToAccountAllowed ||
                             contract.program.isDonationsEnabled)">
                    <ion-list-header>
                        <div class="gama header">
                            {{"program-page.labels.specialServices" | translate}}
                        </div>
                    </ion-list-header>
                    <ion-list no-lines>
                        <ion-item text-wrap *ngIf="contract.program.isFullServiceEnabled">
                            {{"program-page.labels.fullServiceProgram" | translate}}
                        </ion-item>
                        <ion-item text-wrap *ngIf="contract.program.isTuitionRewardsEnabled">
                            {{"program-page.labels.tuitionRewards" | translate}}
                        </ion-item>
                        <ion-item text-wrap *ngIf="contract.program.is59MinuteEnabled">
                            {{"program-page.labels.fiftynineMinuteProgram" | translate}}
                        </ion-item>
                        <ion-item text-wrap *ngIf="contract.program.isPaymentAppEnabled">
                            {{"program-page.labels.paymentApp" | translate}}
                        </ion-item>
                        <ion-item text-wrap *ngIf="contract.program.isShippingToAccountAllowed">
                            {{"program-page.labels.accountDelivered" | translate}}
                        </ion-item>
                        <ion-item text-wrap *ngIf="contract.program.isDonationsEnabled">
                            {{"program-page.labels.donations" | translate}}
                        </ion-item>
                    </ion-list>
                </div>
            </ion-card>

            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.brochures" | translate}}
                    <button ion-button clear item-right icon-only
                            (click)="editSection(SECTION_HEADERS.BROCHURES)"
                            *ngIf="contract.isEditable">
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-item>
                <ion-list>
                    <div *ngIf="contract.brochures && contract.brochures.length > 0">
                        <div *ngFor="let brochure of contract.brochures">
                            <sliding-brochure-item [brochure]="brochure"></sliding-brochure-item>
                        </div>
                    </div>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.productServices" | translate}}
                    <button ion-button clear item-right icon-only
                            (click)="editSection(SECTION_HEADERS.PRODUCT_SERVICES)"
                            *ngIf="contract.isEditable">
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-item>

                <ion-list no-lines>
                    <ion-item text-wrap *ngIf="contract.productServices.requestedDeliveryTypeKey">
                        <ion-label class="gama label">
                            {{"product-services.labels.requestedDelivery.type" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.translations.requestedDeliveryTypeKey}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.requestedDeliveryDate">
                        <ion-label class="gama label">
                            {{"product-services.labels.requestedDelivery.date" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.requestedDeliveryDate | moment:'MM/DD/YYYY'}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.lastFullDayDate">
                        <ion-label class="gama label">
                            {{"product-services.labels.requestedDelivery.lastFullDay" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.lastFullDayDate | moment:'MM/DD/YYYY'}}
                        </div>
                    </ion-item>
                </ion-list>

                <ion-list no-lines>
                    <ion-item text-wrap *ngIf="contract.productServices.warehouseInstructions">
                        <div class="gama label">
                            {{"product-services.labels.warehouseInstructions" | translate}}
                        </div>
                        <div>
                            {{contract.productServices.warehouseInstructions.content}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.carrierInstructions">
                        <div class="gama label">
                            {{"product-services.labels.carrierInstructions" | translate}}
                        </div>
                        <div>
                            {{contract.productServices.carrierInstructions.content}}
                        </div>
                    </ion-item>
                </ion-list>

                <ion-list no-lines>
                    <ion-item text-wrap *ngIf="contract.productServices.collectionMethodKey">
                        <ion-label class="gama label">
                            {{"product-services.labels.svcLvl" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.translations.collectionMethodKey}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.aplusServiceTypeKey">
                        <ion-label class="gama label">
                            {{"product-services.labels.aPlusSvcs" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.translations.aplusServiceTypeKey}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.prizeProgramKey">
                        <ion-label class="gama label">
                            {{"product-services.labels.prizeProgram" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.translations.prizeProgramKey}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.prizePrePackKey">
                        <ion-label class="gama label">
                            {{"product-services.labels.prePackPrize" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.translations.prizePrePackKey}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.goalPrizeLevel">
                        <ion-label class="gama label">
                            {{"product-services.labels.goalPrizeLvl" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.goalPrizeLevel}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.productServices.goalPrizeChargeTypeKey">
                        <ion-label class="gama label">
                            {{"product-services.labels.goalPrizeCharges" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.productServices.translations.goalPrizeChargeTypeKey}}
                        </div>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.invoiceOthers" | translate}}
                    <button ion-button clear item-right icon-only
                            (click)="editSection(SECTION_HEADERS.INVOICE_OTHERS)"
                            *ngIf="contract.isEditable">
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-item>

                <ion-list no-lines>
                    <ion-item text-wrap *ngIf="contract.invoiceOther.prizeCostAmount">
                        <ion-label class="gama label">
                            {{"invoice-other.labels.prizeCostAmount" | translate}}
                        </ion-label>
                        <ion-icon item-right>$</ion-icon>
                        <div item-right>
                            {{contract.invoiceOther.prizeCostAmount}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.invoiceOther.prizeCostPercentage">
                        <ion-label class="gama label">
                            {{"invoice-other.labels.prizeCostPercentOfRetail" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.invoiceOther.prizeCostPercentage}}%
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.invoiceOther.collationFeeAmount">
                        <ion-label class="gama label">
                            {{"invoice-other.labels.collationFeePerStudent" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.invoiceOther.collationFeeAmount | currency:'USD':'symbol-narrow':'1.2-2'}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.invoiceOther.accountTaxClassificationKey">
                        <ion-label class="gama label">
                            {{"invoice-other.labels.taxStatus" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.invoiceOther.translations.accountTaxClassificationKey}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.invoiceOther.accountTaxClassificationExpirationDate">
                        <ion-label class="gama label">
                            {{"invoice-other.labels.taxStatusEndDate" | translate}}
                        </ion-label>
                        <div item-right>
                            {{contract.invoiceOther.accountTaxClassificationExpirationDate | moment:'MM/DD/YYYY'}}
                        </div>
                    </ion-item>
                    <ion-item text-wrap *ngIf="contract.invoiceOther.noteForOrderProcessing.content">
                        <div class="gama label">
                            {{"invoice-other.labels.noteForOrderProcessing" | translate}}
                        </div>
                        <div>
                            {{contract.invoiceOther.noteForOrderProcessing.content}}
                        </div>
                    </ion-item>

                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.importantMessage" | translate}}
                    <button ion-button clear item-right icon-only
                            (click)="toggleImportantMessageVisibility()">
                        <ion-icon [name]="hideImportMessage ? 'eye-off' : 'eye'"></ion-icon>
                    </button>
                </ion-item>
                <ion-card-content margin-top *ngIf="!hideImportMessage">
                    {{configuration.termsAndConditions}}
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-item text-wrap class="ion-list-icon-header">
                    {{"edit-review.sectionHeaders.signatures.header" | translate}}
                </ion-item>
                <ion-item text-wrap>
                    <ion-label class="gama label">
                        {{"edit-review.sectionHeaders.signatures.sponsor" | translate}}
                    </ion-label>
                    <button ion-button clear item-right icon-only
                            (click)="captureSignature(SIGNATURE_TYPES.SPONSOR)"
                            *ngIf="!contract.sponsorApproved">
                        <ion-icon name="create"></ion-icon>
                    </button>
                    <div item-right
                         *ngIf="contract.sponsorApproved">
                        {{contract.sponsorApproved | moment:'MM/DD/YYYY'}}
                    </div>
                    <button ion-button clear item-right icon-only
                            (click)="clearSignature(SIGNATURE_TYPES.SPONSOR)"
                            *ngIf="contract.sponsorApproved">
                        <ion-icon name="close-circle" color="danger"></ion-icon>
                    </button>
                </ion-item>
                <img class="contract-signature" src="{{contract.sponsorSignature}}"
                     *ngIf="contract.sponsorApproved"/>

                <ion-item text-wrap>
                    <ion-label class="gama label">
                        {{"edit-review.sectionHeaders.signatures.salesRep" | translate}}
                    </ion-label>
                    <button ion-button clear item-right icon-only
                            (click)="captureSignature(SIGNATURE_TYPES.SALES_REP)"
                            *ngIf="!contract.salesRepApproved">
                        <ion-icon name="create"></ion-icon>
                    </button>
                    <div item-right
                         *ngIf="contract.salesRepApproved">
                        {{contract.salesRepApproved | moment:'MM/DD/YYYY'}}
                    </div>
                    <button ion-button clear item-right icon-only
                            (click)="clearSignature(SIGNATURE_TYPES.SALES_REP)"
                            *ngIf="contract.salesRepApproved">
                        <ion-icon name="close-circle" color="danger"></ion-icon>
                    </button>
                </ion-item>
                <img class="contract-signature" src="{{contract.salesRepSignature}}" margin-bottom
                     *ngIf="contract.salesRepApproved"/>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>