<form [formGroup]="addressForm">
    <ion-list>
        <ion-item class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.streetAddress.valid && addressControl.streetAddress.touched">
            <ion-label floating class="gama label">
                {{"general.address.street" | translate}}
            </ion-label>
            <ion-icon color="primary" name="locate" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="text"
                       [(ngModel)]="address.street"
                       [formControl]="addressControl.streetAddress"
                       [disabled]="readOnly"></ion-input>
        </ion-item>
        <!--<div *ngIf="addressControl.streetAddress.hasError('required') && addressControl.streetAddress.touched"-->
        <!--class="icon-error-box">Please enter a street address.-->
        <!--</div>-->

        <ion-item class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.locality.valid && addressControl.locality.touched">
            <ion-label floating class="gama label">
                {{"general.address.city" | translate}}
            </ion-label>
            <ion-icon color="primary" name="pin" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="string"
                       [(ngModel)]="address.city"
                       [formControl]="addressControl.locality"
                       [disabled]="readOnly"></ion-input>
        </ion-item>
        <!--<div *ngIf="addressControl.locality.hasError('required') && addressControl.locality.touched"-->
        <!--class="icon-error-box">Please enter a city name.-->
        <!--</div>-->

        <ion-item class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.region.valid && addressControl.region.touched">
            <ion-label floating class="gama label">
                {{"general.address.state" | translate}}
            </ion-label>
            <ion-icon color="primary" name="map" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="string"
                       [(ngModel)]="address.stateProvinceKey"
                       [formControl]="addressControl.region"
                       [disabled]="readOnly"></ion-input>
        </ion-item>
        <div class="icon-input-help-box"
             [class.icon-error-box]="addressControl.region.hasError('required') && addressControl.region.touched"
             *ngIf="(addressControl.region.hasError('required') && addressControl.region.touched)">
            {{"general.address.errors.required.region" | translate}}
        </div>
        <div *ngIf="addressControl.region.hasError('invalidRegion') &&
            addressControl.region.touched &&
            addressControl.region.value.length > 0"
             class="icon-error-box">
            {{"general.address.errors.invalidRegion" | translate}}
        </div>

        <ion-item class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.postalCode.valid && addressControl.postalCode.touched">
            <ion-label floating class="gama label">
                {{"general.address.postalCode" | translate}}
            </ion-label>
            <ion-icon color="primary" name="code" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="text"
                       [(ngModel)]="address.postalCode"
                       [formControl]="addressControl.postalCode"
                       [disabled]="readOnly"></ion-input>
        </ion-item>
        <!--<div *ngIf="addressControl.postalCode.hasError('required') && addressControl.postalCode.touched"-->
        <!--class="icon-error-box">Please enter a postal code.-->
        <!--</div>-->
        <div *ngIf="(addressControl.postalCode.hasError('minlength') ||
                        addressControl.postalCode.hasError('maxlength')) &&
                        addressControl.postalCode.touched"
             class="icon-error-box">
            {{"general.address.errors.required.postalCode" | translate}}
        </div>

        <!--Show line will show under last list item input-->
        <div padding></div>

    </ion-list>
</form>