<ion-item-sliding>
    <button ion-item text-wrap detail-none no-padding>
        <ion-label no-margin>
            <ion-item text-wrap *ngIf="brochure.brochureCodeKey">
                <ion-label class="gama label">
                    {{"component-sliding-brochure-item.labels.brochureType" | translate}}
                </ion-label>
                <div item-right>
                    {{brochure.brochureTypeDescription}}
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="brochure.brochureCodeKey">
                <ion-row nowrap align-items-center>
                    <ion-col class="gama label" no-padding>
                        {{"component-sliding-brochure-item.labels.brochureCode" | translate}}
                    </ion-col>
                    <ion-col no-padding text-right>
                        {{brochure.brochureCodeKey}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item text-wrap *ngIf="brochure.productLineMaterialDescription">
                <ion-row nowrap align-items-center>
                    <ion-col class="gama label" no-padding>
                        {{"component-sliding-brochure-item.labels.brochureName" | translate}}
                    </ion-col>
                    <ion-col no-padding text-right>
                        {{brochure.productLineMaterialDescription}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item text-wrap *ngIf="brochure.shippingLevelKey">
                <ion-label class="gama label">
                    {{"component-sliding-brochure-item.labels.shippingLevel" | translate}}
                </ion-label>
                <div item-right>
                    {{brochure.shippingLevelKey}}
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="brochure.taxOnPaperworkIndicator">
                <ion-label class="gama label">
                    {{"component-sliding-brochure-item.labels.taxOnPaperwork" | translate}}
                </ion-label>
                <div item-right>
                    {{brochure.taxOnPaperworkDescription}}
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="brochure.profitLevelKey">
                <ion-label class="gama label">
                    {{"component-sliding-brochure-item.labels.profitPercent" | translate}}
                </ion-label>
                <div item-right>
                    {{brochure.profitLevelKey}}%
                </div>
            </ion-item>
            <ion-item text-wrap *ngIf="brochure.priceCodeKey">
                <ion-label class="gama label">
                    {{"component-sliding-brochure-item.labels.tip" | translate}}
                </ion-label>
                <div item-right>
                    {{brochure.priceCodeKey}}
                </div>
            </ion-item>
        </ion-label>
    </button>
    <!--<ion-item-options>-->
    <!--</ion-item-options>-->
</ion-item-sliding>