<ion-item-sliding>
    <button ion-item (click)="navPush(contract)" text-wrap detail-none>
        <ion-row>
            <ion-col col-10>
                <div class="contract-header">{{contract.group.name}}</div>
            </ion-col>
            <ion-col col-2 text-right *ngIf="contract.hasRuleViolations">
                <ion-icon name="alert" color="danger"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>{{contract.key}}</ion-col>
            <ion-col class="contract-status" text-right>{{PROGRAM_AGREEMENT_STATE_DESCRIPTION[contract.programAgreementStateKey]}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="contract-start">{{"sliding-contract-item.labels.startDate" | translate}} {{contract.program.startDate | moment:'MM/DD/YYYY'}}</ion-col>
        </ion-row>
        <div class="gama item-details">
            <ion-row>
                <ion-col>
                    <ion-icon name="contact"></ion-icon>
                    {{contract.group.sponsor.name}}
                </ion-col>
                <ion-col>
                    <i class="fa fa-fw fa-graduation-cap"></i>&nbsp;{{contract.program.estimatedGroupSize}}
                    {{"sliding-contract-item.labels.students" | translate}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <i class="fa fa-fw fa-usd"></i>&nbsp;{{contract.program.estimatedWholesale | currency:'USD':'symbol-narrow':'1.0'}}
                </ion-col>
                <ion-col text-wrap *ngIf="contract.group.address.city">
                    <ion-icon name="pin"></ion-icon>
                    {{contract.group.address.city}}, {{contract.group.address.stateProvinceKey}}
                </ion-col>
            </ion-row>
        </div>
    </button>
    <ion-item-options>
        <button ion-button option1 icon-left>
            <ion-icon name="eye"></ion-icon>
            {{"sliding-contract-item.options.view" | translate}}
        </button>
        <button ion-button option4 icon-left>
            <ion-icon name="create"></ion-icon>
            {{"sliding-contract-item.options.edit" | translate}}
        </button>
        <button ion-button option2 icon-left>
            <ion-icon name="copy"></ion-icon>
            {{"sliding-contract-item.options.copy" | translate}}
        </button>
        <button ion-button option3 icon-left>
            <ion-icon name="mail"></ion-icon>
            {{"sliding-contract-item.options.email" | translate}}
        </button>
        <button ion-button option5 icon-left
                (click)="remove(contract._id)">
            <ion-icon name="trash"></ion-icon>
            {{"sliding-contract-item.options.cancel" | translate}}
        </button>
    </ion-item-options>
</ion-item-sliding>