<ion-menu #leftMenu [content]="content" [class.iphonex]="isIPhoneX" [attr.orientation]="getOrientation()">
    <ion-header>
        <ion-toolbar class="app-icon-toolbar">
            <ion-title [class.iPhoneX-app-icon-toolbar]="isIPhoneX">
                <ion-row nowrap align-items-center justify-content-start>
                    <div>
                        <img src="/images/logo_navbar.png" margin-right/>
                    </div>
                    {{appName}}
                </ion-row>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="menu-background">
        <ion-list no-lines class="list-user" *ngIf="user">
            <button ion-item *ngIf="user" detail-none [class.admin-user]="isAdmin" (click)="switchTo()">
                <ion-avatar item-left>
                    <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
                </ion-avatar>
                <h2>{{user.profile.name.display}}</h2>
                <p class="user-item-email">{{user.emails['0'].address}}</p>
                <p class="user-item-email">{{user.profile.accountNumber}}</p>
                <ion-icon name="md-more" item-right></ion-icon>
            </button>
        </ion-list>
        <ion-list>
            <button class="menu-background" ion-item *ngFor="let page of pages" (click)="openPage(page)">
                <ion-icon name="{{page.icon}}" item-left></ion-icon>
                {{page.title | translate}}
            </button>
            <button ion-item class="menu-background" (click)="logout()">
                <ion-icon name="ios-log-out" item-left></ion-icon>
                {{"menu.logout" | translate}}
            </button>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <div text-center>
                {{"general.version" | translate}}&nbsp;{{appVersion}}
            </div>
        </ion-toolbar>
    </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
