<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{"dashboard.title" | translate}}
        </ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-list no-lines no-margin *ngIf="user">
            <ion-item>
                <ion-avatar item-left>
                    <img src="{{user.profile.picture}}">
                </ion-avatar>
                <h2>{{user.profile.name.display}}</h2>
                <p>{{user.emails['0'].address}}</p>
                <p>{{user.profile.accountNumber}}</p>
            </ion-item>
        </ion-list>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-refresher [enabled]="user" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="{{'dashboard.refresher.pullingText' | translate}}"
                refreshingSpinner="crescent"
                refreshingText="{{'dashboard.refresher.refreshingText' | translate}}">
        </ion-refresher-content>
    </ion-refresher>


    <div *ngIf="configuration">
        <ion-grid>
            <ion-row wrap justify-content-center>
                <ion-card class="card-col summary-card">
                    <div text-right padding-top padding-right>
                        {{"dashboard.asOf" | translate}}&nbsp;
                        {{configuration.salesRepActivity.periodEnd | date:'MM/dd/yy'}}&nbsp;
                        {{"dashboard.fiscal" | translate}}
                    </div>
                    <div>
                        <img src="/images/summary-logo.png">
                    </div>
                    <ion-list>
                        <ion-item text-wrap>
                            <ion-label class="gama label">
                                {{"dashboard.contractsSigned" | translate}}
                            </ion-label>
                            <div item-right>
                                <div class="year current">
                                    {{"dashboard.currentYear" | translate}}&nbsp;
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.accountsSignedTotalCurrentYearToDate}}
                                    </div>
                                </div>
                                <div class="year">
                                    {{"dashboard.previousYear" | translate}}&nbsp;
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.accountsSignedTotalPriorYearToDate}}
                                    </div>
                                </div>
                            </div>
                        </ion-item>

                        <ion-item text-wrap>
                            <ion-label class="gama label">
                                {{"dashboard.ytdSales" | translate}}
                            </ion-label>
                            <div item-right>
                                <div class="year current">
                                    {{"dashboard.currentYear" | translate}}&nbsp;
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.grandTotalNetSalesCurrentYearToDate |
                                        currency:'USD':'symbol-narrow':'1.0-0'}}
                                    </div>
                                </div>
                                <div class="year">
                                    {{"dashboard.previousYear" | translate}}
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.grandTotalNetSalesPriorYearToDate |
                                        currency:'USD':'symbol-narrow':'1.0-0'}}
                                    </div>
                                </div>
                            </div>
                        </ion-item>

                        <ion-item text-wrap>
                            <ion-label class="gama label">
                                {{"dashboard.seasonSales" | translate}}
                            </ion-label>
                            <div item-right>
                                <div class="current">
                                    {{"dashboard.currentYear" | translate}}&nbsp;
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.grandTotalNetSalesCurrentSeasonToDate |
                                        currency:'USD':'symbol-narrow':'1.0-0'}}
                                    </div>
                                </div>
                                <div>
                                    {{"dashboard.previousYear" | translate}}&nbsp;
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.grandTotalNetSalesPriorSeasonToDate |
                                        currency:'USD':'symbol-narrow':'1.0-0'}}
                                    </div>
                                </div>
                            </div>
                        </ion-item>

                        <ion-item text-wrap>
                            <ion-label class="gama label">
                                {{"dashboard.weekSales" | translate}}
                            </ion-label>
                            <div item-right>
                                <div class="year current">
                                    {{"dashboard.currentYear" | translate}}&nbsp;
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.grandTotalNetSalesCurrentWeek |
                                        currency:'USD':'symbol-narrow':'1.0-0'}}
                                    </div>
                                </div>
                                <div class="year">
                                    {{"dashboard.previousYear" | translate}}&nbsp;
                                    <div float-right>&nbsp;
                                        {{configuration.salesRepActivity.grandTotalNetSalesPriorWeek |
                                        currency:'USD':'symbol-narrow':'1.0-0'}}
                                    </div>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-card>

                <ion-card class="card-col">
                    <div text-right padding-top padding-right>
                        {{"dashboard.asOf" | translate}}&nbsp;
                        {{configuration.salesRepActivity.periodEnd | date:'MM/dd/yy'}}&nbsp;
                        {{"dashboard.fiscal" | translate}}
                    </div>
                    <ion-card-header>
                        <h1 text-center>{{"dashboard.contracts" | translate}}</h1>
                    </ion-card-header>
                    <ion-card-content>
                        <canvas #contractsChartElement width="400" height="400"></canvas>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card-col">
                    <div text-right padding-top padding-right>
                        {{"dashboard.asOf" | translate}}&nbsp;
                        {{configuration.salesRepActivity.commissionAsOf | date:'MM/dd/yy'}}&nbsp;
                        {{"dashboard.fiscal" | translate}}
                    </div>
                    <ion-card-header>
                        <h1 text-center>{{"dashboard.bonusBase" | translate}}</h1>
                    </ion-card-header>
                    <ion-card-content>
                        <div>
                            <div #bonusBaseProgressElement class="progress-element"></div>
                            <h1 text-center>
                                {{bonusBaseProgressInfo.current | currency:'USD':'symbol-narrow':'1.0-0'}} / <strong>{{bonusBaseProgressInfo.goal
                                | currency:'USD':'symbol-narrow':'1.0-0'}}</strong>
                            </h1>
                        </div>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card-col">
                    <div text-right padding-top padding-right>
                        {{"dashboard.asOf" | translate}}&nbsp;
                        {{configuration.salesRepActivity.commissionAsOf | date:'MM/dd/yy'}}&nbsp;
                        {{"dashboard.calendar" | translate}}
                    </div>
                    <ion-card-header>
                        <h1 text-center>{{"dashboard.incentiveTrip" | translate}}</h1>
                    </ion-card-header>
                    <ion-card-content>
                        <div>
                            <div #incentiveTripProgressElement class="progress-element"></div>
                            <h1 text-center>
                                {{incentiveTripProgressInfo.current | currency:'USD':'symbol-narrow':'1.0-0'}} /
                                <strong>{{incentiveTripProgressInfo.goal |
                                    currency:'USD':'symbol-narrow':'1.0-0'}}</strong>
                            </h1>
                        </div>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card-col">
                    <div text-right padding-top padding-right>
                        {{"dashboard.asOf" | translate}}&nbsp;
                        {{configuration.salesRepActivity.commissionAsOf | date:'MM/dd/yy'}}&nbsp;
                        {{"dashboard.fiscal" | translate}}
                    </div>
                    <ion-card-header>
                        <h1 text-center>{{"dashboard.salesClubs" | translate}}</h1>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row align-items-center>
                            <ion-col>
                                <ion-row align-items-center *ngFor="let salesClub of salesClubProgressInfo.salesClubs">
                                    <ion-col text-right class="club-complete-name" col-10>
                                        {{salesClub.name}}
                                    </ion-col>
                                    <ion-col text-left col-2>
                                        <ion-icon name="checkmark-circle"
                                                  class="club-complete-icon"
                                                  *ngIf="salesClub.isComplete">
                                        </ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col>
                                <h1 text-center>{{salesClubProgressInfo.title}}</h1>
                                <div #salesClubProgressElement class="progress-element" padding></div>
                            </ion-col>
                        </ion-row>
                        <h1 text-center>
                            {{salesClubProgressInfo.current | currency:'USD':'symbol-narrow':'1.0-0'}} / <strong>{{salesClubProgressInfo.goal
                            | currency:'USD':'symbol-narrow':'1.0-0'}}</strong>
                        </h1>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card-col">
                    <div text-right padding-top padding-right>
                        {{"dashboard.asOf" | translate}}&nbsp;
                        {{configuration.salesRepActivity.commissionAsOf | date:'MM/dd/yy'}}&nbsp;
                        {{"dashboard.fiscal" | translate}}
                    </div>
                    <ion-card-header>
                        <h1 text-center>{{"dashboard.profitabilitySalary" | translate}}</h1>
                    </ion-card-header>
                    <ion-card-content>
                        <h1 text-center>
                            {{"dashboard.earned" | translate}}&nbsp;
                            {{profitabilitySalaryProgressInfo.earned | currency:'USD':'symbol-narrow':'1.0-0'}}
                        </h1>
                        <ion-segment margin-top [(ngModel)]="selectedProfitSegmentControl"
                                     (ionChange)="onProfitSegmentSelected($event)">
                            <ion-segment-button value="0"
                                                *ngIf="profitSegmentButtons.current">
                                {{"dashboard.current" | translate}}
                            </ion-segment-button>
                            <ion-segment-button value="1"
                                                *ngIf="profitSegmentButtons.next">
                                {{"general.next" | translate}}
                            </ion-segment-button>
                            <ion-segment-button value="2"
                                                *ngIf="profitSegmentButtons.plusTwo">
                                {{"dashboard.plusTwo" | translate}}
                            </ion-segment-button>
                        </ion-segment>
                        <div #profitabilitySalaryProgressElement class="progress-element"></div>
                        <h1 text-center>
                            {{profitabilitySalaryProgressInfo.current | currency:'USD':'symbol-narrow':'1.0-0'}} /
                            <strong>{{profitabilitySalaryProgressInfo.goal |
                                currency:'USD':'symbol-narrow':'1.0-0'}}</strong>
                        </h1>
                    </ion-card-content>
                </ion-card>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
