<ion-card>
    <ion-list-header>{{"language-select.header" | translate}}</ion-list-header>
    <ion-list>
        <ion-item>
            {{"language-select.language" | translate}}
            <button ion-button color="primary" small outline item-right
                    (click)="selectLanguage()">{{language}}</button>
        </ion-item>
    </ion-list>
</ion-card>