<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"contract.newContract" | translate}}</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top no-border-bottom>
        <ion-title>{{"contract.selectOrg" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="navPush()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar no-border-top>
        <ion-row nowrap align-items-center justify-content-start>
            <div padding *ngIf="items && items.length > 0">
                {{items.length}}
            </div>
            <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterItems($event)"
                           [showCancelButton]="showSearchCancel"></ion-searchbar>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="centered-limited-width">
        <div *ngIf="items && items.length > 0">
            <div *ngFor="let item of items">
                <button ion-item (click)="navPush(item)">
                    <h2>{{item.name}}</h2>
                    <div class="gama item-details" *ngIf="item.addresses.physical.street">
                        <div>
                            {{item.addresses.physical.street}}
                        </div>
                        <div>
                            {{item.addresses.physical.city}}, {{item.addresses.physical.stateProvinceKey}}
                            {{item.addresses.physical.postalCode}}
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </ion-list>
</ion-content>