.login-page {
  @include linearGradient(white, $background-color, top, bottom);

  .logo-gama {
    width: 96px;
    margin: 48px auto 0;
    display: block;
  }

ion-item {
    background-color: transparent;
  }

  ion-item.remember-me .item-inner {
    border-bottom: none;
  }
}