<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="editBrochure()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div style="text-align: center;">
        <img src="/images/TopProgressBar3.jpg">
    </div>
    <div padding>
        <div class="gama page-header">
            {{"brochure-page.header" | translate}}
        </div>
    </div>

    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-col" *ngFor="let brochure of brochures">
                <ion-item>
                    <button ion-button icon-only clear item-right (click)="editBrochure(brochure.guid)">
                        <ion-icon name="create" color="primary"></ion-icon>
                    </button>
                    <button ion-button icon-only clear item-right>
                        <ion-icon name="trash" color="danger"></ion-icon>
                    </button>
                </ion-item>
                <sliding-brochure-item [brochure]="brochure"></sliding-brochure-item>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <contract-navigation-toolbar [previousStepEnabled]="previousStepEnabled"
                                 (previousStepButton_onClicked)="previousStepButton_onClicked()"
                                 [nextStepEnabled]="nextStepEnabled"
                                 (nextStepButton_onClicked)="nextStepButton_onClicked()">
    </contract-navigation-toolbar>
</ion-footer>