<ion-toolbar>
    <ion-row nowrap align-items-center>
        <ion-col>
            <button ion-button clear [disabled]="!previousStepEnabled"
                    (click)="previousStep()">
                {{"contract.buttons.previous" | translate}}
            </button>
        </ion-col>
        <ion-col text-right>
            <button ion-button clear [disabled]="!nextStepEnabled"
                    (click)="nextStep()">
                {{"contract.buttons.next" | translate}}
            </button>
        </ion-col>
    </ion-row>
</ion-toolbar>
