.toolbar-select.item-block {
  background: transparent;
  .item-inner {
    border-bottom: none;
  }
}

.toolbar-search-buttons {
  flex: initial;
}

.contract-list {
  //ion-list {
  //  margin: 0;
  //}
  .contract-header {
    font-size: 2.0rem;
    line-height: 2.0rem;
    color: $color-primary;
  }
  .contract-start {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .contract-status {
    font-size: 2rem;
    line-height: 2rem;
  }

}