<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-hierarchy.title" | translate}}</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar (ionInput)="getItems($event)"
                       (ionClear)="onClearSearch($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="centered-limited-width">
        <ion-item-group *ngFor="let group of groups">
            <ion-item-divider color="light">{{group.letter}}</ion-item-divider>
            <button ion-item text-wrap detail-none (click)="onSelectedItem(item)"
                    *ngFor="let item of group.items">
                {{item.accountNumber}} - {{item.displayName}}
                <ion-note item-right *ngIf="!item.isActive">{{"page-hierarchy.inactive" | translate}}</ion-note>
            </button>
        </ion-item-group>
    </div>
</ion-content>