<ion-content class="login-page">
    <div>
        <img class="logo-gama" src="/images/logo_gama_login_375x563.png">
    </div>
    <div padding class="centered-limited-width">
        <form [formGroup]="loginForm">
            <ion-list>
                <ion-item class="floating-label-icon-left input-has-icon"
                          [class.error]="!loginControl.username.valid && loginControl.username.touched">
                    <ion-label floating class="gama label">
                        {{"login.username" | translate}}
                    </ion-label>
                    <ion-icon color="primary" name="ios-contact-outline" item-left
                              class="floating-label-icon"></ion-icon>
                    <ion-input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               [formControl]="loginControl.username"
                               [(ngModel)]="user.username"></ion-input>
                </ion-item>

                <ion-item class="floating-label-icon-left input-has-icon"
                          [class.error]="!loginControl.password.valid && loginControl.password.touched">
                    <ion-label floating class="gama label">
                        {{"login.password" | translate}}
                    </ion-label>
                    <ion-icon color="primary" name="ios-lock-outline" item-left class="floating-label-icon"></ion-icon>
                    <ion-input type="password" [formControl]="loginControl.password"
                               [(ngModel)]="user.password"></ion-input>
                </ion-item>

                <ion-item class="remember-me" padding-top padding-bottom>
                    <ion-label>{{"login.rememberMe" | translate}}</ion-label>
                    <ion-checkbox color="primary"
                                  [(ngModel)]="user.rememberMe"
                                  [ngModelOptions]="{standalone: true}"
                                  (ionChange)="rememberMe()"></ion-checkbox>
                </ion-item>

            </ion-list>
        </form>

        <div>
            <ion-row>
                <button ion-button block type="button" [disabled]="!loginForm.valid"
                        (click)="onSubmit()">{{"login.signIn" | translate}}
                </button>
            </ion-row>
        </div>
    </div>
</ion-content>
