<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-title>{{title | translate}}</ion-title>
        </ion-title>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div style="text-align: center;">
        <img src="/images/TopProgressBar1.jpg">
    </div>
    <div padding>
        <div class="gama page-header">
            {{"org-info.header" | translate}}
        </div>
    </div>
    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-col">
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item class="floating-label-icon-left input-has-icon">
                                <ion-label floating
                                           class="gama label">{{"org-info.labels.organization" | translate}}
                                </ion-label>
                                <ion-icon color="primary" item-left name="briefcase"
                                          class="floating-label-icon"></ion-icon>
                                <ion-input name="orgName" type="text"
                                           [(ngModel)]="organization.name"
                                           [ngModelOptions]="{standalone: true}"
                                           [disabled]="readOnly"></ion-input>
                            </ion-item>
                            <ion-item class="floating-label-icon-left input-has-icon">
                                <ion-label floating class="gama label">{{"org-info.labels.officePhone" | translate}}
                                </ion-label>
                                <ion-icon color="primary" item-left name="call" class="floating-label-icon"></ion-icon>
                                <ion-input name="orgPhone" type="tel"
                                           [(ngModel)]="organization.phone"
                                           [ngModelOptions]="{standalone: true}"
                                           [disabled]="readOnly"></ion-input>
                            </ion-item>
                            <ion-item class="floating-label-icon-left input-has-icon">
                                <ion-label floating class="gama label">{{"org-info.labels.fax" | translate}}</ion-label>
                                <ion-icon color="primary" item-left class="floating-label-icon">
                                    <i class="fa fa-fax"></i>
                                </ion-icon>
                                <ion-input name="orgFax" type="tel"
                                           [(ngModel)]="organization.fax"
                                           [ngModelOptions]="{standalone: true}"
                                           [disabled]="readOnly"></ion-input>
                            </ion-item>
                            <div padding></div>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-list-header>
                    <div class="gama header">
                        {{"org-info.cardHeaders.physicalAddress" | translate}}
                    </div>
                </ion-list-header>
                <ion-card-content>
                    <address-form [(address)]="organization.addresses.physical"
                                  [formName]="'physicalAddressForm'"
                                  [readOnly]="readOnly">
                    </address-form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col"
                      *ngIf="!readOnly || (readOnly && organization.addresses.mailing.streetAddress)">
                <ion-list-header>
                    <div class="gama header">
                        {{"org-info.cardHeaders.mailingAddress" | translate}}
                    </div>
                </ion-list-header>
                <ion-item *ngIf="!readOnly">
                    <ion-label>{{"org-info.labels.differentMailingAddress" | translate}}</ion-label>
                    <ion-checkbox color="primary"
                                  [(ngModel)]="organization.addresses.differentMailingAddress"></ion-checkbox>
                </ion-item>
                <ion-card-content>
                    <div *ngIf="organization.addresses.differentMailingAddress">
                        <address-form [(address)]="organization.addresses.mailing"
                                      [formName]="'mailingAddressForm'"
                                      [readOnly]="readOnly">
                        </address-form>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <contract-navigation-toolbar [previousStepEnabled]="previousStepEnabled"
                                 (previousStepButton_onClicked)="previousStepButton_onClicked()"
                                 [nextStepEnabled]="nextStepEnabled"
                                 (nextStepButton_onClicked)="nextStepButton_onClicked()">
    </contract-navigation-toolbar>
</ion-footer>