<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"contract-list.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="startCreateContract()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <!--Search Filter-->
    <ion-toolbar no-border-top no-border-bottom>
        <ion-row align-items-center justify-content-center>
            <ion-col>
                <ion-row nowrap align-items-center justify-content-start>
                    <div padding *ngIf="items && items.length > 0">
                        {{items.length}}
                    </div>
                    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)"
                                   [showCancelButton]="showSearchCancel">
                    </ion-searchbar>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row nowrap align-items-center justify-content-center>
                    <button ion-button outline icon-left
                            class="inner-padding-left inner-padding-right"
                            (click)="selectSeason()">
                        <ion-icon>
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </ion-icon>
                        {{selectedSeason}}
                    </button>
                    <button ion-button outline icon-left
                            class="inner-padding-left inner-padding-right"
                            (click)="selectSortCategory()">
                        <ion-icon>
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </ion-icon>
                        {{"contract-list.sortCategories." + selectedCategory | translate}}
                    </button>
                    <button ion-button outline icon-only
                            (click)="toggleSortDirection()">
                        <ion-icon [name]="sortDescending ? 'arrow-dropdown': 'arrow-dropup'"></ion-icon>
                    </button>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-toolbar>

    <!--Contract Status Segment-->
    <ion-toolbar [color]="toolbarColor" no-border-top>
        <ion-segment padding [(ngModel)]="contractFilter" [color]="segmentColor"
                     (ionChange)="filterItems()">
            <ion-segment-button value="{{contractType.ALL}}">
                {{contractType.ALL}}
            </ion-segment-button>
            <ion-segment-button value="{{contractType.DRAFT}}">
                {{contractType.DRAFT}}
            </ion-segment-button>
            <ion-segment-button value="{{contractType.SUBMITTED}}">
                {{contractType.SUBMITTED}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content class="contract-list">
    <!--<ion-card>-->
    <ion-list class="centered-limited-width">
        <div *ngIf="items && items.length > 0">
            <div *ngFor="let item of items">
                <sliding-contract-item [contract]="item"></sliding-contract-item>
            </div>
        </div>
    </ion-list>
    <!--</ion-card>-->

</ion-content>