// http://ionicframework.com/docs/v2/theming/

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.

// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.
$color-primary: #0a5978;

$colors: (
        primary: $color-primary,
        secondary: #32db64,
        navbar: $color-primary,
        danger: #f53d3d,
        light: #f4f4f4,
        dark: #222,
        favorite: #69BB7B,
        headers: #0A243A, // rgb(10,36,58)
        option1: #527090,
        option2: #0a1b2d,
        option3: #0f3c5c,
        option4: #585755,
        option5: #980005,
        grean: green,
        white: white
);

$background-color: #d9dadc; //rgb(217,218,220)
$list-background-color: white;
$menuStartColor: #0a415d;
$menuEndColor: #0A243A;

@mixin linearGradient($startColor, $endColor, $from, $to) {
  background: $startColor; /* Old browsers */
  background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, $from, $to, color-stop(0%, $startColor), color-stop(100%, $endColor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient($from, $startColor 0%, $endColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($from, $startColor 0%, $endColor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient($from, $startColor 0%, $endColor 100%); /* IE10+ */
  background: linear-gradient(to $to, $startColor 0%, $endColor 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
}
