// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "./stylesheets/main";
@import "./stylesheets/menu";
@import "./stylesheets/form-control";
@import "./stylesheets/action-sheet";
@import "./stylesheets/toastr";
@import "./stylesheets/gama";
@import "./pages/login/login";
@import "./pages/contract/group/group-info/group-info";
@import "./pages/dashboard/dashboard";
@import "./pages/contract/contract-list/contract-list";
@import "./pages/contract/edit-review/edit-review";
@import "./pages/contract/edit-review/capture-signature/capture-signature";
@import "./components/sliding-brochure-item/sliding-brochure-item.scss";

// Remove top border of all lists
ion-list.list > .item.item-block:first-child,
ion-list.list > ion-item-sliding:first-child .item.item-block {
  border-top: none;
}

// Remove bottom border of last item in a list
ion-list.list > .item.item-block:last-child {
  border-bottom: none;
}

// Fix for ion-labels not appearing on iOS
ion-label[stacked],
ion-label[floating] {
  flex-basis: auto;
}

.toolbar-title {
  overflow: visible;
}

.item > ion-icon:first-child,
.item-inner > ion-icon:first-child {
  min-width: 28px; // 24px; override ionic style
}

img {
  object-fit: cover;
}

// Text wrap for alert radio labels
ion-alert .alert-radio-group .alert-radio-label {
  white-space: normal;
}

.user-select {
  white-space: normal;
  user-select: text;
}

.alert-message {
  white-space: normal;
  user-select: text;
}

ion-icon i.fa {
  font-size: 21px;
}