@charset "UTF-8";

// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.varialbes.scss file
@import 'app.variables';


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$menu-md-background: $menuStartColor;
$card-md-background-color: white;
$label-md-text-color: black;
$toolbar-md-title-text-color: $color-primary;

// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
$ionic-theme: "Default";
@import "version";
@import "ionic.theme.default.md";
@import "ionic.components";

// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app

.item-input::after {
  left: 40px;
}

[text-wrap] .label-md {
  font-size: inherit;
  line-height: inherit;
}

.list-header-md {
  border-top: none;
  border-bottom: 1px solid #dedede;
}

.card-md ion-list {
  margin: 0;
}