.edit-review-page {
  .ion-list-icon-header {
    border-bottom: 2px solid #dedede;
  }

  .ion-list-icon-header ion-label {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: colors($colors, headers);
  }

  .partner-contact-name {
    font-size: 2rem;
    color: color($colors, headers);
  }

  .contract-signature {
    width: 200px;
    margin: auto;
  }
}