<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"activity-entry.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="onSubmit()">
                {{"general.save" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top no-border-bottom>
        <!--<div class="gama label">-->
        <!--{{"activity-entry.season" | translate}}-->
        <!--</div>-->
        <ion-title>SPRING-16</ion-title>
    </ion-toolbar>
    <ion-toolbar no-border-top>
        <ion-item class="toolbar-select">
            <ion-label class="gama label">{{"activity-entry.week" | translate}}</ion-label>
            <ion-select [(ngModel)]="selectedWeek">
                <ion-option *ngFor="let week of weeks" [value]="week.value">{{week.text}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.apptsNxtWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.apptsNxtWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.referrals" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.referrals"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.demosThisWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.demosThisWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.nowThisWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.nowThisWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.nowWhslThisWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.nowWhslThisWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.futuresThisWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.futuresThisWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.futuresWhslThisWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.futuresWhslThisWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.startsThisWeek" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.startsThisWeek"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.whslStartedThisWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.whslStartedThisWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.startsNxtWk" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.startsNxtWk"
                           placeholder="0">
                </ion-input>
            </ion-item>
            <ion-item text-wrap>
                <ion-label class="gama label">
                    {{"activity-entry.labels.startsLeftInSea" | translate}}
                </ion-label>
                <ion-input text-right type="number" [(ngModel)]="activity.startsLeftInSea"
                           placeholder="0">
                </ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar position="bottom">
        <ion-buttons end>
            <button ion-button (click)="clearAll()">
                {{"activity-entry.buttons.clearAll" | translate}}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>