<ion-header>
    <ion-navbar >
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"contract.newContract" | translate}}</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top no-border-bottom>
        <ion-title>{{"contract.selectGroup" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="navPush()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar no-border-top>
        <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterItems($event)"
                       [showCancelButton]="showSearchCancel"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngIf="items && items.length > 0">
            <div *ngFor="let item of items">
                <button ion-item (click)="navPush(item)">
                    <h2>{{item.name}}</h2>
                </button>
            </div>
        </div>
    </ion-list>
</ion-content>