<ion-header>
    <ion-navbar>
        <button ion-button menuToggle color="primary">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title | translate}}
        </ion-title>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="group-info">
    <div style="text-align: center;">
        <img src="/images/TopProgressBar2.jpg">
    </div>
    <div padding>
        <div class="gama page-header">
            {{"group-info.header" | translate}}
        </div>
    </div>

    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-col">
                <ion-list-header>
                    <div class="gama header">
                        {{"group-info.labels.group" | translate}}
                    </div>
                </ion-list-header>
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item text-wrap class="floating-label-icon-left input-has-icon">
                                <ion-label floating class="gama label">
                                    {{"group-info.labels.groupName" | translate}}
                                </ion-label>
                                <ion-icon color="primary" item-left name="contacts"
                                          class="floating-label-icon"></ion-icon>
                                <ion-input type="text" [(ngModel)]="groupInfo.name"
                                           [ngModelOptions]="{standalone: true}">
                                </ion-input>
                            </ion-item>
                            <div padding></div>
                        </ion-list>
                    </form>

                    <ion-list-header>
                        <div class="gama header">
                            {{"group-info.labels.address.title" | translate}}
                        </div>
                    </ion-list-header>
                    <ion-card-content>
                        <address-form [(address)]="groupInfo.address"></address-form>
                    </ion-card-content>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-list-header>
                    <div class="gama header">
                        {{"group-info.labels.sponsor.title" | translate}}
                    </div>
                </ion-list-header>
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item text-wrap class="floating-label-icon-left input-has-icon">
                                <ion-label floating
                                           class="gama label">{{"group-info.labels.sponsor.name" | translate}}
                                </ion-label>
                                <ion-icon name="contact" class="floating-label-icon" item-left
                                          color="primary"></ion-icon>
                                <ion-input type="text" [(ngModel)]="groupInfo.sponsor.name"
                                           [ngModelOptions]="{standalone: true}">
                                </ion-input>
                            </ion-item>
                            <ion-item text-wrap class="floating-label-icon-left input-has-icon">
                                <ion-label floating
                                           class="gama label">{{"group-info.labels.sponsor.email" | translate}}
                                </ion-label>
                                <ion-icon name="mail" class="floating-label-icon" item-left color="primary"></ion-icon>
                                <ion-input type="email" [(ngModel)]="groupInfo.sponsor.emailAddress"
                                           [ngModelOptions]="{standalone: true}">
                                </ion-input>
                            </ion-item>

                            <div padding></div>
                            <ion-list-header>
                                <div class="gama header">
                                    {{"group-info.labels.phoneNumbers" | translate}}
                                </div>
                            </ion-list-header>
                            <div *ngIf="phones && phones.length > 0">
                                <div *ngFor="let phone of phones">
                                    <ion-item-sliding>
                                        <button ion-item detail-none class="floating-label-icon-left input-has-icon">
                                            <ion-icon item-left color="primary" class="floating-label-icon"
                                                      name="{{phone.icon}}"></ion-icon>
                                            <ion-label floating class="gama label">{{phone.type}}</ion-label>
                                            <ion-input type="text"
                                                       [(ngModel)]="groupInfo.sponsor.phoneNumbers[phone.type].number"
                                                       [ngModelOptions]="{standalone: true}">
                                            </ion-input>
                                        </button>
                                        <ion-item-options>
                                            <button ion-button color="danger" (click)="removePhone(phone)">
                                                <ion-icon name="remove-circle"></ion-icon>
                                                <!--{{"group-info.buttons.remove" | translate}}-->
                                                {{"general.remove" | translate}}
                                            </button>
                                        </ion-item-options>
                                    </ion-item-sliding>
                                </div>
                            </div>
                            <div *ngIf="canAddPhone" margin-top>
                                <button ion-item detail-none class="floating-label-icon-left" icon-left
                                        (click)="addPhone()">
                                    <ion-icon name="add-circle" color="secondary" item-left
                                              class="floating-label-icon"></ion-icon>
                                    {{"group-info.labels.addPhone" | translate}}
                                </button>
                            </div>
                            <div padding></div>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <contract-navigation-toolbar [previousStepEnabled]="previousStepEnabled"
                                 (previousStepButton_onClicked)="previousStepButton_onClicked()"
                                 [nextStepEnabled]="nextStepEnabled"
                                 (nextStepButton_onClicked)="nextStepButton_onClicked()">
    </contract-navigation-toolbar>
</ion-footer>