<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title | translate}}</ion-title>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div style="text-align: center;">
        <img src="/images/TopProgressBar5.jpg">
    </div>
    <div padding>
        <div class="gama page-header">
            {{"invoice-other.header" | translate}}
        </div>
    </div>

    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-col">
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-list-header class="gama header">
                                {{"invoice-other.labels.prizeCostAmount" | translate}}
                            </ion-list-header>
                            <ion-item text-wrap>
                                <ion-label class="gama label">
                                    $ 1 - 10,000
                                </ion-label>
                                <ion-input text-right type="number" placeholder="#"
                                           [(ngModel)]="invoiceOther.prizeCostAmount"
                                           [ngModelOptions]="{standalone: true}">
                                </ion-input>
                                <ion-icon item-right>$</ion-icon>
                            </ion-item>
                            <div padding></div>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-list-header class="gama header">
                                {{"invoice-other.labels.prizeCostPercentOfRetail" | translate}}
                            </ion-list-header>
                            <ion-item text-wrap>
                                <ion-label class="gama label">
                                    0.1 - 50 %
                                </ion-label>
                                <ion-input text-right type="number" placeholder="#"
                                           [(ngModel)]="invoiceOther.prizeCostPercentage"
                                           [ngModelOptions]="{standalone: true}">
                                </ion-input>
                                <ion-icon item-right>%</ion-icon>
                            </ion-item>
                            <div padding></div>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-list-header class="gama header">
                                {{"invoice-other.labels.collationFeePerStudent" | translate}}
                            </ion-list-header>
                            <ion-item text-wrap>
                                <ion-label class="gama label">
                                    $ 0.01 - 2
                                </ion-label>
                                <ion-input text-right type="number" placeholder="#"
                                           [(ngModel)]="invoiceOther.collationFeeAmount"
                                           [ngModelOptions]="{standalone: true}">
                                </ion-input>
                                <ion-icon item-right>$</ion-icon>
                            </ion-item>
                            <div padding></div>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-card-content>
                    <ion-list>
                        <ion-list-header class="gama header">
                            {{"invoice-other.labels.taxExemption" | translate}}
                        </ion-list-header>
                        <ion-item text-wrap>
                            <ion-label class="gama label">
                                {{"invoice-other.labels.taxStatus" | translate}}
                            </ion-label>
                            <ion-select [(ngModel)]="invoiceOther.accountTaxClassificationKey"
                                        placeholder="{{'invoice-other.placeholders.taxStatus' | translate}}">
                                <ion-option *ngFor="let option of taxStatusOptions" [value]="option.key">
                                    {{option.text}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item text-wrap>
                            <ion-label class="gama label">
                                {{"invoice-other.labels.taxStatusEndDate" | translate}}
                            </ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY"
                                          pickerFormat="MMMM DD YYYY"
                                          placeholder="MM/DD/YYYY"
                                          cancelText="{{'general.cancel' | translate}}"
                                          doneText="{{'general.done' | translate}}"
                                          [(ngModel)]="invoiceOther.accountTaxClassificationExpirationDate">
                            </ion-datetime>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item text-wrap>
                                <ion-label floating class="gama label">
                                    {{"invoice-other.labels.noteForOrderProcessing" | translate}}
                                </ion-label>
                                <ion-textarea [(ngModel)]="invoiceOther.noteForOrderProcessing.content"
                                              [ngModelOptions]="{standalone: true}">
                                </ion-textarea>
                            </ion-item>
                            <div padding></div>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <contract-navigation-toolbar [previousStepEnabled]="previousStepEnabled"
                                 (previousStepButton_onClicked)="previousStepButton_onClicked()"
                                 [nextStepEnabled]="nextStepEnabled"
                                 (nextStepButton_onClicked)="nextStepButton_onClicked()">
    </contract-navigation-toolbar>
</ion-footer>