<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-capture-signature.title." + this.signatureType | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <ion-item text-wrap>
                <h1 class="gama label">
                    {{"page-capture-signature.eventDate" | translate}}
                </h1>
                <div item-right>{{contract.program.startDate | moment:'MM/DD/YYYY'}}</div>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <h1>{{configuration.signatureVerbiage}}</h1>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-centered-limited-width">
        <ion-card-content>
            <canvas #signaturePadElement class="signature-pad"></canvas>
            <ion-row nowrap align-items-center justify-content-center>
                <ion-col>
                    <button ion-button block
                            (click)="clearSignature()">
                        {{"general.clear" | translate}}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button block
                            (click)="acceptSignature()">
                        {{"general.accept" | translate}}
                    </button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>