<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title | translate}}</ion-title>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div style="text-align: center;">
        <img src="/images/TopProgressBar2.jpg">
    </div>
    <div padding>
        <div class="gama page-header">
            {{"program-page.header" | translate}}
        </div>
    </div>

    <ion-grid>
        <ion-row wrap justify-content-center>
            <ion-card class="card-col">
                <ion-list>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.startDate" | translate}}
                        </ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY"
                                      cancelText="{{'general.cancel' | translate}}"
                                      doneText="{{'general.done' | translate}}"
                                      [(ngModel)]="program.startDate" (ionChange)="startDateChanged()">
                        </ion-datetime>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.signDate" | translate}}
                        </ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY"
                                      cancelText="{{'general.cancel' | translate}}"
                                      doneText="{{'general.done' | translate}}"
                                      [(ngModel)]="program.signDate" (ionChange)="signDateChanged()">
                        </ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-list-header class="gama header">
                        {{"program-page.labels.numberOfStudents" | translate}}
                        <ion-badge item-right>{{program.estimatedGroupSize}}</ion-badge>
                    </ion-list-header>
                    <ion-item text-wrap>
                        <ion-range [(ngModel)]="program.estimatedGroupSize" color="primary" pin="true"
                                   min="{{numberOfStudentsMin}}" max="{{numberOfStudentsMax}}">
                            <div range-left>{{numberOfStudentsMin}}</div>
                            <div range-right>{{numberOfStudentsMax}}</div>
                        </ion-range>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-list-header class="gama header">
                        {{"program-page.labels.numberOfClassrooms" | translate}}
                        <ion-badge item-right>{{program.estimatedNumberOfClassrooms}}</ion-badge>
                    </ion-list-header>
                    <ion-item text-wrap>
                        <ion-range [(ngModel)]="program.estimatedNumberOfClassrooms" color="primary" pin="true"
                                   min="{{numberOfClassroomsMin}}" max="{{numberOfClassroomsMax}}">
                            <div range-left>{{numberOfClassroomsMin}}</div>
                            <div range-right>{{numberOfClassroomsMax}}</div>
                        </ion-range>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-list-header class="gama header">
                        {{"program-page.labels.estWholesale" | translate}}
                        <ion-badge item-right>{{program.estimatedWholesale}}</ion-badge>
                    </ion-list-header>
                    <ion-item text-wrap>
                        <ion-range [(ngModel)]="program.estimatedWholesale" color="primary" pin="true"
                                   min="{{estWholesaleMin}}" max="{{estWholesaleMax}}">
                            <div range-left>{{estWholesaleMin}}</div>
                            <div range-right>{{estWholesaleMax}}</div>
                        </ion-range>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-list-header class="gama header">
                        {{"program-page.labels.purchaseOrder" | translate}}
                    </ion-list-header>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.poType" | translate}}
                        </ion-label>
                        <ion-select [(ngModel)]="program.purchaseOrderTypeKey"
                                    placeholder="{{'program-page.placeholders.poType' | translate}}">
                            <ion-option *ngFor="let poType of poTypes"
                                        [value]="poType.key">
                                {{poType.text}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.poNumber" | translate}}
                        </ion-label>
                        <ion-input text-right type="number" [(ngModel)]="program.purchaseOrderNumber"
                                   placeholder="{{'program-page.placeholders.poNumber' | translate}}">

                        </ion-input>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-list-header class="gama header">
                        {{"program-page.labels.specialServices" | translate}}
                    </ion-list-header>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.fullServiceProgram" | translate}}
                        </ion-label>
                        <ion-toggle [(ngModel)]="program.isFullServiceEnabled"></ion-toggle>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.tuitionRewards" | translate}}
                        </ion-label>
                        <ion-toggle [(ngModel)]="program.isTuitionRewardsEnabled"></ion-toggle>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.fiftynineMinuteProgram" | translate}}
                        </ion-label>
                        <ion-toggle [(ngModel)]="program.is59MinuteEnabled"></ion-toggle>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.paymentApp" | translate}}
                        </ion-label>
                        <ion-toggle [(ngModel)]="program.isPaymentAppEnabled"></ion-toggle>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.accountDelivered" | translate}}
                        </ion-label>
                        <ion-toggle [(ngModel)]="program.isShippingToAccountAllowed"></ion-toggle>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"program-page.labels.donations" | translate}}
                        </ion-label>
                        <ion-toggle [(ngModel)]="program.isDonationsEnabled"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <contract-navigation-toolbar [previousStepEnabled]="previousStepEnabled"
                                 (previousStepButton_onClicked)="previousStepButton_onClicked()"
                                 [nextStepEnabled]="nextStepEnabled"
                                 (nextStepButton_onClicked)="nextStepButton_onClicked()">
    </contract-navigation-toolbar>
</ion-footer>