<ion-header>
    <ion-navbar>
        <ion-title>{{"page-brochure-entry.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="brochure && configuration">
        <ion-item text-wrap>
            <ion-label class="gama label">
                {{"page-brochure-entry.labels.type" | translate}}
            </ion-label>
            <ion-select [(ngModel)]="brochure.brochureTypeKey"
                        [placeholder]="'general.select' | translate"
                        (ionChange)="onSelectorChanged($event)">
                <div *ngFor="let item of configuration.brochureTypes">
                    <ion-option [value]="item.key">{{item.text}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
        <ion-item text-wrap>
            <ion-label class="gama label">
                {{"page-brochure-entry.labels.group" | translate}}
            </ion-label>
            <ion-select [(ngModel)]="brochure.brochureGroupKey"
                        [placeholder]="'general.select' | translate"
                        [disabled]="!brochure.brochureTypeKey"
                        (ionChange)="onSelectorChanged($event)">
                <div *ngFor="let item of brochureGroups">
                    <ion-option [value]="item.key">{{item.text}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
        <ion-item text-wrap>
            <ion-label class="gama label">
                {{"page-brochure-entry.labels.code" | translate}}
            </ion-label>
            <ion-select [(ngModel)]="brochure.brochureCodeKey"
                        [placeholder]="'general.select' | translate"
                        [disabled]="!brochure.brochureGroupKey || brochureCodes.length === 1"
                        (ionChange)="onSelectorChanged($event)">
                <div *ngFor="let item of brochureCodes">
                    <ion-option [value]="item.key">{{item.text}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
        <ion-item text-wrap>
            <ion-label class="gama label">
                {{"page-brochure-entry.labels.material" | translate}}
            </ion-label>
            <ion-select [(ngModel)]="brochure.brochureMaterialKey"
                        [placeholder]="(brochure.brochureMaterialKey !== null) ? ('general.select' | translate) : ('general.notAvailable' | translate)"
                        [disabled]="!brochure.brochureCodeKey || brochure.brochureMaterialKey === null || brochureMaterials.length === 1"
                        (ionChange)="onSelectorChanged($event)">
                <div *ngFor="let item of brochureMaterials">
                    <ion-option [value]="item.key">{{item.text}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
        <ion-item text-wrap>
            <ion-label class="gama label">
                {{"page-brochure-entry.labels.shippingLevel" | translate}}
            </ion-label>
            <ion-select [(ngModel)]="brochure.shippingLevelKey"
                        [placeholder]="(brochure.shippingLevelKey !== null) ? ('general.select' | translate) : ('general.notAvailable' | translate)"
                        [disabled]="!brochure.brochureCodeKey || brochure.shippingLevelKey === null || shippingLevels.length === 1"
                        (ionChange)="onSelectorChanged($event)">
                <div *ngFor="let item of shippingLevels">
                    <ion-option [value]="item.key">{{item.text}}</ion-option>
                </div>
            </ion-select>
        </ion-item>

        <ion-list *ngIf="(profitPercentData && profitPercentData[0].plMaterialNumber) &&
                         (brochure.productLineMasterMaterialKey ? !!brochure.shippingLevelKey : true)">
            <ion-list-header text-wrap>
                {{"page-brochure-entry.labels.profitData" | translate}}
                <p *ngIf="brochure.productLineMasterMaterialKey">
                    {{brochure.productLineMasterMaterialDescription}}
                </p>
            </ion-list-header>

            <div *ngFor="let profitData of profitPercentData">
                <ion-item text-wrap>
                    <ion-label class="gama label">
                        {{profitData.plMaterialDescription}}
                    </ion-label>
                    <ion-select [(ngModel)]="profitData.profitLevelKey"
                                [placeholder]="(brochure.profitLevelKey !== null) ? ('general.select' | translate) : ('general.notAvailable' | translate)"
                                [disabled]="getProfitLevels(profitData) === null || getProfitLevels(profitData).length === 1">
                        <div *ngFor="let item of getProfitLevels(profitData)">
                            <ion-option [value]="item.key">{{item.text}}</ion-option>
                        </div>
                    </ion-select>
                </ion-item>
            </div>
        </ion-list>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row nowrap align-items-center justify-content-center>
            <ion-col>
                <button ion-button block color="danger"
                        (click)="dismiss()">
                    {{"general.cancel" | translate}}
                </button>
            </ion-col>
            <ion-col>
                <button ion-button block
                        (click)="dismiss(true)">
                    {{"general.save" | translate}}
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>