<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title | translate}}</ion-title>
        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content product-services>
    <div style="text-align: center;">
        <img src="/images/TopProgressBar4.jpg">
    </div>
    <div padding>
        <div class="gama page-header">
            {{"product-services.header" | translate}}
        </div>
    </div>

    <ion-grid>
        <ion-row wrap justify-content-center>

            <ion-card class="card-col">
                <ion-list>
                    <ion-list-header class="gama header">
                        {{"product-services.labels.requestedDelivery.header" | translate}}
                    </ion-list-header>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"product-services.labels.requestedDelivery.type" | translate}}
                        </ion-label>
                        <ion-select [(ngModel)]="productServices.requestedDeliveryTypeKey"
                                    placeholder="{{'product-services.placeholders.requestedDelivery.type' | translate}}">
                            <ion-option *ngFor="let option of deliveryTypes" [value]="option.key">
                                {{option.text}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"product-services.labels.requestedDelivery.date" | translate}}
                        </ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY"
                                      cancelText="{{'general.cancel' | translate}}"
                                      doneText="{{'general.done' | translate}}"
                                      [(ngModel)]="productServices.requestedDeliveryDate">
                        </ion-datetime>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"product-services.labels.requestedDelivery.lastFullDay" | translate}}
                        </ion-label>
                        <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY"
                                      cancelText="{{'general.cancel' | translate}}"
                                      doneText="{{'general.done' | translate}}"
                                      [(ngModel)]="productServices.lastFullDayDate">
                        </ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list-header class="gama header">
                    {{"product-services.labels.shippingInstructions" | translate}}
                </ion-list-header>
                <ion-card-content>
                    <form>
                        <ion-list>
                            <ion-item>
                                <ion-label floating class="gama label">
                                    {{"product-services.labels.warehouseInstructions" | translate}}
                                </ion-label>
                                <ion-textarea [(ngModel)]="productServices.warehouseInstructions.content"
                                              [ngModelOptions]="{standalone: true}">
                                </ion-textarea>
                            </ion-item>
                            <ion-item>
                                <ion-label floating class="gama label">
                                    {{"product-services.labels.carrierInstructions" | translate}}
                                </ion-label>
                                <ion-textarea [(ngModel)]="productServices.carrierInstructions.content"
                                              [ngModelOptions]="{standalone: true}">
                                </ion-textarea>
                            </ion-item>
                            <div padding></div>
                        </ion-list>
                    </form>
                </ion-card-content>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"product-services.labels.svcLvl" | translate}}
                        </ion-label>
                        <ion-select [(ngModel)]="productServices.collectionMethodKey"
                                    placeholder="{{'product-services.placeholders.svcLvl' | translate}}">
                            <ion-option *ngFor="let option of serviceLevels" [value]="option.key">
                                {{option.text}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"product-services.labels.aPlusSvcs" | translate}}
                        </ion-label>
                        <ion-select [(ngModel)]="productServices.aplusServiceTypeKey"
                                    placeholder="{{'product-services.placeholders.aPlusSvcs' | translate}}">
                            <ion-option *ngFor="let option of aPlusServices" [value]="option.key">
                                {{option.text}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"product-services.labels.prizeProgram" | translate}}
                        </ion-label>
                        <ion-select [(ngModel)]="productServices.prizeProgramKey"
                                    placeholder="{{'product-services.placeholders.prizeProgram' | translate}}">
                            <ion-option *ngFor="let option of prizePrograms" [value]="option.key">
                                {{option.text}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item text-wrap>
                        <ion-label class="gama label">
                            {{"product-services.labels.prePackPrize" | translate}}
                        </ion-label>
                        <ion-select [(ngModel)]="productServices.prizePrePackKey"
                                    placeholder="{{'product-services.placeholders.prePackPrize' | translate}}">
                            <ion-option *ngFor="let option of prePackPrizes" [value]="option.key">
                                {{option.text}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-list-header class="gama header">
                        {{"product-services.labels.goalPrizeLvl" | translate}}
                        <ion-badge item-right>{{productServices.goalPrizeLevel}}</ion-badge>
                    </ion-list-header>
                    <ion-item>
                        <ion-range [(ngModel)]="productServices.goalPrizeLevel" color="primary" pin="true"
                                   min="{{goalPrizeLevelMin}}" max="{{goalPrizeLevelMax}}">
                            <div range-left>{{goalPrizeLevelMin}}</div>
                            <div range-right>{{goalPrizeLevelMax}}</div>
                        </ion-range>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card class="card-col">
                <ion-list>
                    <ion-item>
                        <ion-label class="gama label">
                            {{"product-services.labels.goalPrizeCharges" | translate}}
                        </ion-label>
                        <ion-select [(ngModel)]="productServices.goalPrizeChargeTypeKey"
                                    placeholder="{{'product-services.placeholders.goalPrizeCharges' | translate}}">
                            <ion-option *ngFor="let option of goalPrizeCharges" [value]="option.key">
                                {{option.text}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-card>

        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <contract-navigation-toolbar [previousStepEnabled]="previousStepEnabled"
                                 (previousStepButton_onClicked)="previousStepButton_onClicked()"
                                 [nextStepEnabled]="nextStepEnabled"
                                 (nextStepButton_onClicked)="nextStepButton_onClicked()">
    </contract-navigation-toolbar>
</ion-footer>