.gama.page-header {
  font-size: 2.5rem;
  color: color($colors, headers);
}

.gama.header {
  font-weight: 400;
  text-transform: uppercase;
  color: color($colors, headers);
  font-size: 14px;
}

.gama.label {
  font-weight: 400;
  text-transform: uppercase;
  color: color($colors, primary);
  font-size: 15px;
}

.gama.item-details {
  font-size: 1.2rem;
  color: gray;
}

.gama.item-details ion-icon, .gama.item-details i {
  text-align: center;
  width: 24px;
}
