/* Toastr CSS */
.toast-bottom-center {
  bottom: 50%;
}

#toast-container > div {
  opacity: 1
}
/* End Toastr CSS */

/*Add Highlight to iOS tabs*/
.ios ion-tabs[primary] tabbar .tab-button:hover:not(.disable-hover),
.ios ion-tabs[primary] tabbar .tab-button[aria-selected=true] {
  border-bottom: 2px solid;
}

/*Center image in thumbnail*/
ion-thumbnail {
  position: relative;
}

ion-thumbnail img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}

/*End*/

.coverages {
  padding-left: 60px;
}

.btn-vertical-padding {
  padding: 5px 0;
}

ion-select {
  max-width: none;
}

ion-card.card.card-centered-limited-width,
.card-centered-limited-width {
  margin: 16px auto;
  max-width: 500px;
}

.centered-limited-width {
  margin: 0px auto;
  max-width: 500px;
}

ion-card.card.card-col,
.card-col {
  margin: 10px;
  max-width: 500px;
}

img.card-image {
  margin: 0 auto;
  padding: 20px;
  max-height: 250px;
  width: auto;
}

button[ion-button].inner-padding-left span.button-inner {
  padding-left: 16px;
}

ion-select {
  max-width: 75%;
}